<body class="">
<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <div class="content">
    </div>
    <footer class="footer footer-black  footer-white ">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
    demo.initChartsPages();
  });
</script>
</body>
